<!-- Candidates -->

<!-- Candidates -->

<div class="Card h-100 d-flex flex-column gap-3">
  <h2 class="Heading_color Sub-Heading Semibold mb-0 pb-2 p-3">New Candidates ({{ leads.length }})</h2>
  <div class="grid_cards px-3">
    <div class="newleads_card" *ngFor="let lead of leads">
      <div class="d-flex flex-column align-items-center justify-content-center gap-2">
        <img [src]="getCompanyLogo(lead.campaign_id!)" class="avtar" alt="Company Logo" />
        <div class="candidate_text d-flex flex-column gap-1">
          <h2 class="mb-0 medium-text Semibold text-center primary">
            {{ getCompanyName(lead.campaign_id!) }}
          </h2>
          <div>
            <h2 class="mb-0 Medium Caption text-center text_dark">{{ lead.campaignName }}</h2>
            <h3 class="mb-0 Regular Caption text-center text_light">{{ lead.applicantName }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="border_top d-flex justify-content-between align-items-center mt-3 pt-2">
    <a (click)="previousPage()" [class.disabled]="currentPage === 0">
      <img src="assets/images/svg-img/pagination-arrow-left.svg" />
    </a>

    <h2 class="small-text Medium mb-0">
      Page {{ currentPage + 1 }} of {{ totalPages }}
    </h2>

    <a (click)="nextPage()" [class.disabled]="currentPage === totalPages - 1">
      <img src="assets/images/svg-img/pagination-right-arrow.svg" />
    </a>
  </div>
</div>