<!-- CALENDAR -->
<div class="col-md-12">
    <div class="Card p-3 d-flex flex-column gap-3">
        <div class="d-flex justify-content-between align-items-center  px-3">
            <h2 class="primary Sub-Heading Medium mb-0">March</h2>
            <div class="d-flex gap-3">
                <select class="calendar_dropdown p-2 medium-text Medium">
                    <option value="-1">Week</option>
                    <option value="-2">Month</option>
                    <option value="1">Day</option>
                </select>
                <div class="d-flex align-items-center gap-1">
                    <a href="#"><img src="assets/images/svg-img/arrow.svg" class="blue-filter rotate_icon"></a>
                    <h2 class="Sub-Heading Medium mb-0 text_dark">Today</h2>
                    <a href="#"><img src="assets/images/svg-img/arrow.svg" class="blue-filter"></a>
                </div>
            </div>

        </div>
        <!-- CALENDAR img-->
        <img src="assets/images/png-img/calendar.png" class="w-100">
    </div>
</div>